name: main

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  flake:
    name: Check Nix flake
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/nix

      - name: Check Nix flake
        run: nix flake check --all-systems --print-build-logs --keep-going

  pages:
    name: Deploy to GitHub Pages
    # needs:
    #   - flake
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: ./quarto/
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: Test
        run: find -maxdepth 3
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
